{% extends 'base.html' %}

{% block content %}
    {% if 'manager' in user.groups.all.0.name or user.is_staff %}
    {%  for item in messages %}
        <section style="padding-top: 10px;">
        <h2 style="color: #FFFFFF; font-family: 'Columbia Print Cyrilic', sans-serif; font-size: 1.5em">Сообщения от пользователей</h2>
            <div class="row align-items-start">
                <div class="col-4" id="columns_menu" style="height: 100%; background-color: rgba(255,255, 255, 0.5);">
                    <div class="title">
                        <a style="text-decoration: none; color: #ffffff; font-family: 'Columbia Print Cyrilic', sans-serif;">Пользователь: {{ item.user_name }}</a>
                    </div>
                    <div class="dish_photo">
                        <p class="centre"><img style="height: 100%; width: 100%" src="/static/messages_static_photo.png" alt="Здесь должно быть изобраение, но его почему-то нет" class="img-fluid"></p>
                    </div>
                </div>
                <div class="col-4" id="columns_menu" style="height: 100%; background-color: rgba(255,255, 255, 0.5);">
                    <div class="title">
                        <a style="text-decoration: none; color: #ffffff; font-family: 'Columbia Print Cyrilic', sans-serif;">{{ item.user_email }}</a>
                    </div>
                    <div class="description_dish">
                        <div style="font-family: 'Columbia Print Cyrilic', sans-serif;">
                            <span >{{ item.message }}</span>
                        </div>
                    </div>
                    <div class="price_dish" style="font-size: 1.5em; font-family: 'Columbia Print Cyrilic', sans-serif;">
                        <p class="centre">{{ item.send_date }}</p>
                    </div>
                </div>
            </div>
        </section>
    {%  endfor %}
    {% endif %}
{% endblock %}
