{% extends 'base.html' %}

{%  block content %}
    <section id ="menu" style="padding-top: 10px;">
        <h2 style="color: #FFFFFF; font-family: 'Cowboy', sans-serif; font-size: 1.5em">РЕГИСТРАЦИЯ В СИТЕМЕ УСПЕШНО ЗАВЕРШЕНА</h2>
        <div class="row align-items-start">
             <div class="col-4" id="columns_menu" style="height: 100%; background-color: rgba(255,255, 0, 0.5);">
                 <div class="title">
                     <a style="text-decoration: none; color: #ffffff; font-family: 'Columbia Print Cyrilic', sans-serif;">Регистрация в ситстеме</a>
                 </div>
                 <div class="dish_photo">
                     <p class="centre"><img src="/static/regitered.png" alt="Здесь должно быть изобраение, но его почему-то нет" class="img-fluid"></p>
                 </div>
                 <div class="description_dish">
                     <div style="font-family: 'Cowboy', sans-serif;">
                         Приветстувем Вас, {{ new_user.username }}!
                         <span>
                            Вы зарегестрированы в системе!
                         </span>
                     </div>
                 </div>
             </div>
         </div>
     </section>
{% endblock %}
